<%# js実験 %>
<p><%= Time.now %></p>
<p><%= Date.today %></p>
<% data1 = Date.today
   data2 = Date.today-3
   difference = (data1.to_time - data2.to_time).to_i  %>
<p>あと<%= difference %>秒です</p>
<p>あと<%= difference/60 %>分です</p>
<p>あと<%= difference/60/60 %>時間です</p>


<p><%= current_user.name %></p>
<p><%= @user.name %></p>




