<%# js実験 %>
<p><%= Time.now %></p>
<p><%= Date.today %></p>
<% data1 = Date.today
   data2 = Date.today-3
   difference = (data1.to_time - data2.to_time).to_i  %>
<p>あと<%= difference %>秒です</p>
<p>あと<%= difference/60 %>分です</p>
<p>あと<%= difference/60/60 %>時間です</p>







<div class="">
  <h1>ようこそクソアプリへ</h1>

  <h2>
    このアプリは開発中のクソアプリです
  </h2>

  <%= link_to "ユーザー登録", signup_path, class: "" %>
</div>

<%= link_to image_tag("", alt: "画像") ,'#' %>



<%# こちらは普通のpath指定 %>
<%= link_to "ルーティング確認用1コンタクトへ", contact_path, class: "" %> <br>
<%# こちらは実験ようページのパスがコンタクトと被っていたのでどうやって飛ぶのかと不思議に思って実験したもの。 %>
<%# 結論としてはこれで飛べる。コントローラー名とアクション名で行けるので便利だがidがどうなるのか不安 %>
<%= link_to "ルーティング確認用2experimentへ", :controller=> 'static_pages', :action=> 'experiment' %> <br>
<%= link_to "ルーティング確認用3画像投稿へ", newimage_path, class: "" %> <br>
<%= link_to "ルーティング確認用4画像表示へ", indeximage_path, class: "" %> <br>
ここまでがメインコンテンツです




<%=@user%><br>
<%=@user.name%><br>
<%=@user.birthdate%><br>
<%=Date.today%><br>
<%=@user.deathdate%><br>
<%=@user.birthdate.to_time%><br>
<%=Date.today.to_time%><br>
<%=@user.deathdate.to_time%><br>

<% date1 = @user.birthdate.in_time_zone.to_i
   date2 = Date.today.in_time_zone.to_i
   date3 = @user.deathdate.in_time_zone.to_i
   difference = (date3 - date2)  %>

<p>あと<%= difference%>秒で死にます</p>
<p>あと<%= difference/60 %>分で死にます</p>
<p>あと<%= difference/60/60 %>時間で死にます</p>
<p>あと<%= difference/60/60/24 %>日で死にます</p>
<p>あと<%= difference/60/60/24/30%>ヶ月で死にます</p>
<p>あと<%= difference/60/60/24/30/12%>年で死にます</p>



<% @pictures.each do |picture| %>
  <%= image_tag picture.image, :size =>'120x120' %>
<% end %>