<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="pagenation"><%= will_paginate %> </div>

<div class="container userindexcontainer">

    <div class=" userbox">

    <% @users.each do |user| %>

                <div class="">    
                <%- if user.image? %>

                    <%= image_tag user.image, :size =>'360x360', class:"" %>
                <% else %>
                    <%= image_tag 'noimage.png', :size =>'360x360', class:"" %>
            
                <% end %> 
                </div >

                <div class="">
                <%= link_to user.name, user %>
                </div >

    <% end %>

    </div>

</div>

<div class="pagenation"><%= will_paginate %> </div>




<!--こちらはgravatarを使って一覧表示する用の記述。bootstrapがうまくいかない時はこれに戻す
  <ul class="users">
  <%= render @users %>
  </ul>

-->

  <!-- こちらは元々コメントアウトしていた物で元来不要
    <% @users.each do |user| %>
      <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %>
      </li>
    <% end %>
    リファクタリング前の記述。分かり易いので残して置く
    リファクタリング後ここでパーシャル読み込むが、パーシャル先にはeachはない
    railsが@users渡すと自動でUserオブジェクトのコレクションだから列挙しよう、
    みたいなことしてくれる
    -->

  
 