<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="pagenation"><%= will_paginate %> </div>

<ul class="users">
<%= render @users %>
<!--
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
  リファクタリング前の記述。分かり易いので残して置く
  リファクタリング後ここでパーシャル読み込むが、パーシャル先にはeachはない
  railsが@users渡すと自動でUserオブジェクトのコレクションだから列挙しよう、
  みたいなことしてくれる
  -->

</ul>

<%# <%= will_paginate %> 