



<div class="row pointhead">
      <%- if @user.usedpoint != nil%>
        <h1>残りポイント<%= @leftpoint%>pt</h1>
      <% end %>

        <h1>通算獲得ポイント<%= @done_point_count%>pt</h1>

     
</div>


<div class ="row">
    <div class="point-left-right-wrapper">


      <div class="pointleftside col-6">
          <div class="game-index-head">ゲーム一覧</div>

          <% @games.each do |game| %>
          
          <li class="game-index-list">
          
              <div class="title-and-cost">
              <div class="gametitle">  タイトル：<%= game.name%> </div> 
              <div class="gamecost">  価格:<%= game.cost%>ポイント </div>
              </div> 
                

                <%- if @user == current_user%>
                    <%= form_for(@user, url: {controller: 'users', action: 'point' }) do |f| %>
                    <%- if @user.usedpoint == nil%>
                    <%-  @user.usedpoint = 0 %>
                    <% end %>
                    <%= f.hidden_field :usedpoint, :value => (@user.usedpoint + game.cost) %>
                    <%= f.hidden_field :game_id, :value => game.id  %>
                    <%- if (@user.point - @user.usedpoint) >= game.cost%>
                    <%= f.submit "購入", class: "purchasebtn" %>
                    <% end %>
                <% end %>
                
              <% end %>

          </li>

                       
          <% end %>
      </div>

      <div class="pointrightside col-6">

      <div class="purchased-game-head">購入したゲーム</div>
      
      <% @usergames.each do |usergame| %>
      <li class="purchased-game-list">
              タイトル:<%= usergame.name%><br>
              <%= link_to "←ゲームを遊ぶ", controller: "games", action: "show", user_id: @user.id, id: usergame.id%> <br>
      </li>
      <% end %>
      
      


      </div>


  </div>
</div>