<p>
ユーザーのポイント登録後ここに遷移しているはずなので、遷移後にポイントの
状況を見せたり、ポイントの消費をするための記述等を記載する。
ランキングもポイント増加を反映する必要があるため、先にランキングを作ってもいいかもしれないし、
そうでなければランキングに（登録後に）遷移するためのボタンを先に作ってもいいかもしれない
</p>



        通算<%= @done_point_count%>pt<br>
        <%- if @user.usedpoint != nil%>
        残り<%= @leftpoint%>pt<br>
        <% end %>

        <% @games.each do |game| %>
            <%= game.name%>
            <%= game.cost%>

            <%- if @user == current_user%>
                <%= form_for(@user, url: {controller: 'users', action: 'point' }) do |f| %>
                <%- if @user.usedpoint == nil%>
                <%-  @user.usedpoint = 0 %>
                <% end %>
                <%= f.hidden_field :usedpoint, :value => (@user.usedpoint + game.cost) %>
                <%- if (@user.point - @user.usedpoint) >= game.cost%>
                <%= f.submit "購入", class: "" %>
                <% end %>
            <% end %>
            
          <% end %>

            </p>        
        <% end %>