



<div class="row pointhead">
      <%- if @user.usedpoint != nil%>
        <h1>残りポイント<%= @leftpoint%>pt</h1>
      <% end %>

        <h1>通算獲得ポイント<%= @done_point_count%>pt</h1>

     
</div>


<div class ="row">
    <div class="point-left-right-wrapper">
      <div class="pointleftside col-6">

          <% @games.each do |game| %>

          
          <li>
                <%= game.name%>
                <%= game.cost%>

                <%- if @user == current_user%>
                    <%= form_for(@user, url: {controller: 'users', action: 'point' }) do |f| %>
                    <%- if @user.usedpoint == nil%>
                    <%-  @user.usedpoint = 0 %>
                    <% end %>
                    <%= f.hidden_field :usedpoint, :value => (@user.usedpoint + game.cost) %>
                    <%- if (@user.point - @user.usedpoint) >= game.cost%>
                    <%= f.submit "購入", class: "" %>
                    <% end %>
                <% end %>
                
              <% end %>

          </li>

                      
          <% end %>
      </div>

      <div class="pointrightside col-6">

      購入したゲーム<br>
      <% @usergames.each do |usergame| %>
              <%= usergame.name%><br>
      <% end %>
      


      </div>


  </div>
</div>