<% provide(:title, @user.name) %>



<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<% @pictures.each do |picture| %>
  <%= image_tag picture.image, :size =>'120x120' %>
<% end %>

<%=@user%><br>
<%=@user.name%><br>
<%=@user.birthdate%><br>
<%=@user.deathdate%><br>
<%=@user.birthdate.to_time%><br>
<%=@user.deathdate.to_time%><br>
<% date1 = @user.birthdate.to_time 
   date2 = Date.today.to_time
   date3 = @user.deathdate.to_time
   
   difference1 = (date3.to_time - date1.to_time).to_i  %>
<p>あと<%= difference1 %>秒で死にます</p>
<p>あと<%= difference1/60 %>分で死にます</p>
<p>あと<%= difference1/60/60 %>時間で死にます</p>
<p>あと<%= difference1/60/60/24 %>日で死にます</p>
<p>あと<%= difference1/60/60/24/12 %>ヶ月で死にます</p>
