<% provide(:title, @user.name) %>


<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
      <h1>
        <%= @user.name %>さんのプロフィール
      </h1>
    </section>
  </aside>
</div>
<div class="row box">
  <div class="left-right-wrapper">

    <div class=" leftside1 col-6">
      <%- if @user.image%>
      あなたの人生でのベストショット<br>
      <%= image_tag @user.image, :size =>"400x300" %><br>
      <% end%>
    </div>

    <div class="rightside1 col-6">

      <div class="imagesetting">
        <button type="button" class="btn btn-default btn-lg mt-5">
        <%= link_to "画像一覧へ", user_pictures_path(@user), class: "" %>
        </button><br>
      </div>


      <div class="memoryfield">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
            <%= f.label :ベストショットの説明文 %>
            <%= f.text_area :imagetext, class: 'form-control', size:"20x5" %>
            <%- if @user == current_user%>
              <%= f.submit "説明文更新", class: "" %>
            <% end %>
        <% end %>
      </div>

    </div>

  </div>
</div>


<div class="row box">
  <div class="left-right-wrapper">

    <div class=" leftside2 col-6">
      <div id="piechart" class="piechart"></div>
    </div>
    <div class="rightside2 col-3"> 
      <% date1 = @user.birthdate.in_time_zone.to_i
      date2 = Date.today.in_time_zone.to_i
      date3 = @user.deathdate.in_time_zone.to_i
      difference = (date3 - date2)  %>

      <p>あと<%= difference%>秒で死にます</p>
      <p>あと<%= difference/60 %>分で死にます</p>
      <p>あと<%= difference/60/60 %>時間で死にます</p>
      <p>あと<%= difference/60/60/24 %>日で死にます</p>
      <p>あと<%= difference/60/60/24/30%>ヶ月で死にます</p>
      <p>あと<%= difference/60/60/24/30/12%>年で死にます</p>
    </div>

    <div class="rightside2 col-3"> 
      <% date1 = @user.birthdate.in_time_zone.to_i
      date2 = Date.today.in_time_zone.to_i
      date3 = @user.deathdate.in_time_zone.to_i
      difference = (date3 - date2)  %>

      <p>あと<%= difference%>秒で死にます</p>
      <p>あと<%= difference/60 %>分で死にます</p>
      <p>あと<%= difference/60/60 %>時間で死にます</p>
      <p>あと<%= difference/60/60/24 %>日で死にます</p>
      <p>あと<%= difference/60/60/24/30%>ヶ月で死にます</p>
      <p>あと<%= difference/60/60/24/30/12%>年で死にます</p>
    </div>

    

  </div>
</div>

<div class="row box">
  <div class="left-right-wrapper">
    <div class=" leftside3 col-6">
    
    <div class="panel panel-success">
      <div class="panel-heading">
      <h3 class="panel-title">todoリスト</h3>
      </div>
      <ul class="todolist ">
      
            <% @todos.each do |todo| %>
              <%- if todo.todo != nil %>
              <li class="list-group-item litodoli">
                <%=todo.todo%>
                <%- if @user == current_user && todo.todo != nil %>
                  <%= link_to "達成", user_todo_path(id:todo.id, user_id:@user.id), method: :delete, class: "pointbtn"%>
                <% end %>
              </li>
               <% end %>        
            <% end %>
            
      </ul>
      <div class="panel-footer"></div>
    </div>

    </div>
    <div class=" rightside3 col-6">
      <div class="imagesetting">

        <p class="pointsdisplay">合計ポイント<br>
        <%= @done_point_count%>pt
        </p>
        

        <%- if @user == current_user%>
          <button type="button" class="btn btn-default btn-lg mt-5">
          <%= link_to "todo作成へ", new_user_todo_path(@user), class: "" %> <br>
          </button><br>
        <% end %>

        <%- if @user == current_user%>
          <button type="button" class="btn btn-default btn-lg mt-5">
          <%= link_to "ポイントを使うダミー", "#", class: "" %> <br>
          </button><br>
        <% end %>

        <%- if @user == current_user%>
          <button type="button" class="btn btn-default btn-lg mt-5">
          <%= link_to "ランキングへダミー", "#", class: "" %> <br>
          </button><br>
        <% end %>

      </div>
    </div>
  </div>
</div>




<!--コメントアウト 実験用ページとほぼ同じお試しコード
<% @pictures.each do |picture| %>
  <%= image_tag picture.image, :size =>'120x120' %>
<% end %>

<%=@user%><br>
<%=@user.name%><br>
<%=@user.birthdate%><br>
<%=Date.today%><br>
<%=@user.deathdate%><br>
<%=@user.birthdate.to_time%><br>
<%=Date.today.to_time%><br>
<%=@user.deathdate.to_time%><br>

<% date1 = @user.birthdate.in_time_zone.to_i
   date2 = Date.today.in_time_zone.to_i
   date3 = @user.deathdate.in_time_zone.to_i
   difference = (date3 - date2)  %>

<p>あと<%= difference%>秒で死にます</p>
<p>あと<%= difference/60 %>分で死にます</p>
<p>あと<%= difference/60/60 %>時間で死にます</p>
<p>あと<%= difference/60/60/24 %>日で死にます</p>
<p>あと<%= difference/60/60/24/30%>ヶ月で死にます</p>
<p>あと<%= difference/60/60/24/30/12%>年で死にます</p>


<% 
date4 = date1.to_f
date5 = date2.to_f
date6 = date3.to_f
parcentage = ( (date6 - date5) / (date6 - date4)).round(4)*100
%>

<p><%= date1 %></p>
<p><%= date2 %></p>
<p><%= date3 %></p>
<p>あと<%= parcentage %>％残っています</p>
-->