
<h1>  ようこそ<%= @user.name%>さん </h1>
<h4>  <%= @game.name%>を遊んでくれてありがとうございます</h4>


<%- if @game.id == 1 %>
<%= render 'shared/game1' %>
<% end %>


<%- if @game.id == 2 %>
<%= render 'shared/game2' %>
<% end %>

<%- if @game.id == 3 %>
<%= render 'shared/game3' %>
<% end %>

<%- if @game.id == 4 %>
<%= render 'shared/game4' %>
<% end %>

<%- if @game.id == 5 %>
<%= render 'shared/game5' %>
<% end %>

<%- if @game.id == 6 %>
<%= render 'shared/game6' %>
<% end %>

<%- if @game.id == 7 %>
<%= render 'shared/game7' %>
<% end %>

<%- if @game.id == 8 %>
<%= render 'shared/game8' %>
<% end %>

<%- if @game.id == 9 %>
<%= render 'shared/game9' %>
<% end %>

