<h1><%=@user.name%> の写真一覧</h1>

<%- if @user == current_user%>
<div class="row box">
  <div class="left-right-wrapper">

      <div class=" pictureleftside1 col-6">
        マイページのベストショットを更新しよう<br>
        あなたのページだけ更新できるよ
        <%= form_for(@user) do |f| %>
          
          <%= f.label :image %>
          <%= f.file_field :image %>
          <%= f.submit %>
        <% end %>
    </div>

    <div class=" picturerightside1 col-6">
      写真投稿してアルバムにしよう<br>
      下の一覧に追加されるよ<br>
      <%= form_for(@picture, url: {controller: 'pictures', action: 'create' }) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.submit %>
      <% end %>
    </div>

  </div>
</div>
<% end %>


<div class="row box">
  <div class="slidebox">
      <div class="b"><%= image_tag @pictures[1].image, :size =>'600x450' %></div>
      <div class="b"><%= image_tag @pictures[2].image, :size =>'600x450' %></div>
      <div class="b"><%= image_tag @pictures[3].image, :size =>'600x450' %></div>
  </div>
 </div>


<div class="row box">
  <% @pictures.each do |picture| %>
    <%- if picture.image? %>
    <%= image_tag picture.image, :size =>'180x120' %>
    <% end %>
  <% end %>
</div>
