<h1><%=@user.name%> の写真一覧</h1>

<%- if @user == current_user%>
<div class="row box">
  <div class="left-right-wrapper">

      <div class=" pictureleftside1 col-6">
        マイページのベストショットを更新しよう<br>
        あなたのページだけ更新できるよ
        <%= form_for(@user) do |f| %>
          
          <%= f.label :image %>
          <%= f.file_field :image %>
          <%= f.submit %>
        <% end %>
    </div>

    <div class=" picturerightside1 col-6">
      写真投稿してアルバムにしよう<br>
      下の一覧に追加されるよ<br>
      <%= form_for(@picture, url: {controller: 'pictures', action: 'create' }) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.submit %>
      <% end %>
    </div>

  </div>
</div>
<% end %>


<div class="row box">
  <div class="slidebox">
      <% @pictures.each do |picture| %>
      <%- if picture.image? %>
      <%= image_tag picture.image, :size =>'600x400' %>
            <%- if @user == current_user%>
              <%= link_to "削除", user_picture_path(id:picture.id, user_id:@user.id), method: :delete %>
            <% end %>
      <% end %>
      <% end %>
  </div>
 </div>

<!--画像一覧をコメントアウト。スライドで削除ボタンつけたので、スライド部分をデカくして、右に寄せる予定

<div class="row box">
  <% @pictures.each do |picture| %>
    <%- if picture.image? %>
    <%= image_tag picture.image, :size =>'180x120' %>
      <%- if @user == current_user%>
        <%= link_to "削除", user_picture_path(id:picture.id, user_id:@user.id), method: :delete%>
      <% end %>
    <% end %>
  <% end %>
</div>

-->