
<div class="todoform">
    <%= form_for(@todo, url: {controller: 'todos', action: 'create' }) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.label :あなたもtodoを作成しよう（作成後マイページへ） %>
      <%= f.text_area :todo %>
      <%= f.submit %>
    <% end %>
</div>
 


<h1>達成リスト</h1>
<div class="indextodolist">
  
  <% @todos.each do |todo| %>

    <ul>
      <%= todo.created_at %><br>
      <%= todo.done %><br>
    </ul>   
  <% end %>
  
</div>
