<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= javascript_include_tag 'application'%>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="container-fruid">

      <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>

      <div class ="main col-xs-7 col-md-9 col-lg-10 container">
        <%= yield %>
        
      </div>

      <div class="sidebar col-xs-5 col-md-3 col-lg-２ container h-100 ">
        <%= render 'layouts/header' %>
        <%= render 'layouts/footer' %>
      </div>

      

      <%# <%= debug(params) if Rails.env.development? %> 

    </div>
  </body>
</html>
